cleanlab
ipywidgets
matplotlib
mlflow
nltk
numpy
numpyencoder
pandas
python-dotenv
ray[air]
scikit-learn
SQLAlchemy
torch
transformers
jupyterlab
lime
seaborn
wordcloud
mkdocs
mkdocstrings
mkdocstrings[python]
black
flake8
Flake8-pyproject
isort
pyupgrade
great-expectations
pytest
pytest-cov
fastapi
pre-commit
typer
anyscale
